<!DOCTYPE html>{% load static plausible %}
<html lang="en">
<head>
    {% block title %}
        <title>Skurut</title>
        <meta property="og:title" content="Skurut"/>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:description" content="Seuraa skuruja livenä kartalla"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/tram_32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/tram_16.png' %}">
    <meta property="og:image" content="{% static 'images/tram_512.webp' %}"/>
    <link rel="manifest" href="{% static 'web.manifest' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extrahead %}
    {% endblock %}

</head>
<body>

{% block content %}
{% endblock %}
{% plausible %}
</body>
</html>