daphne==4.2.0  # ASGI runserver for development
Django==5.2.3
django-debug-toolbar==5.2.0
django-environ==0.12.0
django-extensions==4.1.0
django-simple-plausible==0.0.5
ipython==9.3.0
paho-mqtt==2.1.0
redis==6.2.0
uvicorn[standard]==0.34.3